{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier", "plugin:import/recommended"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": "off",
    "no-console": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
