//$header-height: 38px;
$formula_height: 29px;

// Colors
$color_white: rgb(255 255 255);
$color_black: rgb(0 0 0);
$color_black6: rgba(0,0,0,.06);
$color_black12: rgba(0,0,0,.12);
$color_blue: #1a73e8;
$color_grey: #c0c0c0;
$color_lightBlue: #f9fbfd;
