@import "variables";
@import "mixins";

.excel {
  overflow: auto hidden;
  user-select: none;

  &__row {
    display: flex;
    height: $excel-table-row_height;

    &-info {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $border_color;
      border-bottom: 1px solid $border_color;
      font-size: 12px;
      min-width: $excel-table-info-row_width;
      height: 100%;

      .row-resize {
        @include excel-resizer("row");
      }
    }

    &-data {
      display: flex;
    }
  }

  &__column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
    font-size: 12px;
    min-width: $excel-table-column_width;

    .col-resize {
      @include excel-resizer("col");
    }
  }

  .cell {
    padding: 1px 1px 0 2px;
    min-width: $excel-table-column_width;
    height: 100%;
    border-right: 1px solid #e2e3e3;
    border-bottom: 1px solid #e2e3e3;
    outline: none;
    position: relative;

    &.selected {
      &:before {
        @include excel-cell-selection("select");
      }

      &:focus {
        &:after {
          @include excel-cell-selection("focus");
        }
      }
    }
  }
}
