@import "variables";
@import "mixins";

.excel {
  overflow: auto hidden;

  &__row {
    display: flex;
    height: $excel-table-row_height;

    &-info {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $excel-table-info-row_width;
      height: 100%;
      border-right: 1px solid $border_color;
      border-bottom: 1px solid $border_color;

      .row-resize {
        @include excel-resizer("row");
      }
    }

    &-data {
      display: flex;
    }
  }

  &__column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $excel-table-column_width;
    border-right: 1px solid $border_color;
    border-bottom: 1px solid $border_color;

    .col-resize {
      @include excel-resizer("col");
    }
  }

  .cell {
    padding: 1px 2px;
    min-width: $excel-table-column_width;
    height: 100%;
    border-right: 1px solid #e2e3e3;
    border-bottom: 1px solid #e2e3e3;
    outline: none;

    &.selected {
      border: 2px solid #0b57d0;

      &:focus {
        z-index: 2;
        outline: 2px solid #a8c7fa;
      }
    }
  }
}
